/*
 copyright alpha studio xiaoxuan 2013 summer holiday
*/

#leftbox { /*header 左*/
	display:inline-block; /*兼容IE6、7 inline-block*/
	*zoom:1;
	*display:inline;
}

 #rightbox {  /*header 右*/
	display:inline-block; /*兼容IE6、7 inline-block*/
	*zoom:1;
	*display:inline;
}

#left { /*左栏*/
	 display:inline-block;  /*兼容IE6、7 inline-block*/
	 *zoom:1;
	 *display:inline;
}  

#right { /*右栏 要兼容chrom奇怪的错位*/
	display:inline-block; /*兼容IE6、7 inline-block*/
	*zoom:1;
	*display:inline;
}

/* -webkit 滚动条样式 */
   /* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #99CCFF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

 /* min-width & max-width 兼容移动设备 */
 
@media screen and (min-width: 220px) and (max-width: 960px) { 

body{   
    -webkit-overflow-scrolling : touch;
}

html {
    font-weight:bold;
	-webkit-text-size-adjust:160%;
	/* margin-top:40px; *//* 若bodymargin则是相对于html的 */
	/*width:50%;对footer有效*/	
}

#pagewrapper { /*页面封装*/
    overflow-x:hidden;
	background : #FAFFF0;
}

#header { /*页头*/
    height : 260px;
}

#leftbox { /*header 左*/
    margin-top : 50px;
}

#rightbox {  /*header 右*/
	-webkit-text-size-adjust:none;
    position : relative;
	top : -70px;
	left : -20px;
}

#isLog { /*已登录按钮*/
	-webkit-text-size-adjust:110%;
	display : inline-block;
	margin-top:5px;
	height : 25px;
}

#myModal {
    -webkit-text-size-adjust:110%;
}

.form-search { /*搜索框*/
/* 	-webkit-text-size-adjust:150%; */
    position : relative;
	left : 75px;
}

#navbardiv {
   margin-top : -10px !important;
}

.navbar { /*navbar*/
    /*position:relative;*/ /*响应式布局慎用position 导致navbar-fixed-top失效 且此处z-index=1030*/
	top : 10px;
	max-width : 100%;
}  
  
#left { /*左栏*/
    position : relative; 
	top: 60px;
	left : 23px;
	margin: 50px auto;
	min-height : 728px;/*此处强行定高容器造成平板大块空白,因为平板字体变大属性不支持,但为了小屏只得这样*/
    max-height : 828px;/*字体变大相关*/
	overflow : hidden;
}

figure {
    margin-top : -20px;
}

.up { /*介绍说明栏 竖式布局变宽对齐*/
    width : 570px;
    margin-left : 5px;
    min-height : 320px;
}

#shi { /*发失物贴按钮*/
    position : relative;
	left : 9%;
    width : 50%;
	display : inline-block;
}

#xun { /*发寻物贴按钮*/
    position : relative;
	left : 24%;
    width : 50%;
	display : inline-block;
}

.bottom { /*成功案例 竖式布局变宽对齐*/
   /*  margin-left : -50px; */
    margin-left : 5px;
    width : 570px;
}
 
#lost {
    width:570px;/*解决微信浏览器宽度bug*/
} 
 
}


/*全局*/
.gap {
	width:100%;
	height:20px;
	clear:both;
}
a {
	color:#666;
}
a:hover {
	text-decoration:none;
}

/*登陆表单开始*/

/*登陆span 此处绝对定位可解决变换文字带来的位置重排*/
.login_win #Lcn {
	font-size:12px;
	color:#aaa;
	position:relative;
	left:10px;
	top:5px;
	white-space:nowrap;
}

.login_win #Lcp {
	font-size:12px;
	color:#aaa;
	position:absolute;
	left:351px;
	top:130px;
	white-space:nowrap;
}

h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	height:30px;
	margin-top:-20px;
}

p {
	font-size:11px;
	color:#666666;
	margin:5px;
	padding-bottom:10px;
}

/*登录表单结束*/

/*选项卡开始*/

#find li:hover {
	background:#eee;
}

#lost li:hover {
	background:#eee;
}

.tab-pane li {
    line-height:2.2em;
	height:2.2em;
	border-bottom:1px dashed #aaa;
	overflow:hidden;/*解决微信浏览器超出*/
}

.tab-pane i {
    float:left;
	padding-right:5px;
}

.tab-pane li a {
    display:inline-block;
	min-width:400px;
}

.tab-pane li p {
    display:inline;height:10px;
}
/*选项卡结束*/

.pic a {
    height:100px;
	display:inline-block;
}

.up pre {
    font-size: 14px;
    font-family: "微软雅黑";
}

/*页尾开始*/

#footer a:hover {
    text-decoration:underline;
}

#footer .btn:hover{
    text-decoration:none;
} 

/*页尾结束*/